{% extends 'readlater/base.html' %}

{% block title %}
Article List
{% endblock title %}

{% block breadcrumb %}
    <h4>Article List |
        {% if state|lower != 'read'  %}
            Unread
        {% else %}
            <a href="unread">Unread</a>
        {% endif %}
        |
        {% if state|lower == 'read' %}
            Read
        {% else %}
            <a href="read">Read</a></h4>
        {% endif %}
{% endblock %}

{% block content %}
{% if article_list %}
{#<ul>#}
{#    {% for article in article_list %}#}
{#        <li>#}
{#        <a href="{{ article.url }}">{{ article.name }}</a>#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}
<table class="table table-striped">
  <thead class="thead-dark">
    <th>Link</th>
    <th>Name</th>
    <th>Category</th>
    <th>Rank</th>
    <th>Progress</th>
    <th>Updated</th>
    <th>Added</th>
    <th>Finished</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    {% for article in article_list %}
      <tr>
          <td><a href="{{ article.url }}">LINK</a></td>
          <td>{{ article.name }}</td>
          <td>{{ article.category }}</td>
          <td>{{ article.rank }}</td>
          <td>{{ article.progress }}</td>
          <td>{{ article.updated_time|default_if_none:''}}</td>
          <td>{{ article.added_time }}</td>
          <td>{{ article.finished_time|default_if_none:''}}</td>
          <td><a href="{% url 'article_edit_form' article.pk %}?state={{ state|urlencode }}">EDIT</a></td>
          <td><a href="{% url 'article_delete_form' article.pk %}?state={{ state|urlencode }}">DELETE</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no articles.</p>
{% endif %}
<br><br>
<a href="{% url 'article_create_form' %}">Create Article</a>
{% endblock %}
