{% extends 'base.html' %}

{% load only_days %}

{% block title %}
Article List
{% endblock title %}

{% block breadcrumb %}
    <h4>Article List |
        {% if state|lower != 'read'  %}
            Unread
        {% else %}
            <a href="unread">Unread</a>
        {% endif %}
        |
        {% if state|lower == 'read' %}
            Read
        {% else %}
            <a href="read">Read</a></h4>
        {% endif %}
{% endblock %}

{% block content %}

    <form class="form-inline" role="form" id="filtertable-form" action="" method="get">
        <div class="input-group">
            <span class="input-group-append"><label for="filtertable-select-category">Category:</label></span>

            <div class="form-group">
                <select class="browser-default custom-select" id="filtertable-select-category" name="filter_category">
                    <option value=""
                        {% if filter_category is None %}
                                selected
                        {% endif %}
                        >ALL
                    </option>

                    {% for categ in categories %}
                        <option value="{{ categ }}"
                            {% if filter_category == categ.name %}
                                    selected
                            {% endif %}
                            >{{ categ }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <span class="input-group-append"><label for="filtertable-select-priority">Priority:</label></span>

            <div class="form-group">
                <select class="browser-default custom-select" id="filtertable-select-priority" name="filter_priority">
                    <option value=""
                        {% if filter_priority is None %}
                                selected
                        {% endif %}
                        >ALL
                    </option>

                    {% for priority in priorities %}
                        <option value="{{ priority }}"
                            {% if priority == filter_priority %}
                                    selected
                            {% endif %}
                            >{{ priority }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <span class="input-group-append"><input type="submit" value="Filter"></span>
        </div>
    </form>

{% if article_list %}
<a href="{% url 'article_create_form' %}?next={{ current_url|urlencode }}" id="create_article_href_top">Create Article</a>
<table class="table table-striped" id="table-article-list">
  <thead class="thead-dark">
    <th>Link</th>
    <th>Name</th>
    {% if order_col == 'category' %}
        <th>Category</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=-category&{{ filter_query_params.urlencode }}">Category</a></th>
    {% endif %}
    <th>Notes</th>
    {% if order_col == 'priority' %}
        <th>Priority</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=priority&{{ filter_query_params.urlencode }}">Priority</a></th>
    {% endif %}
    {% if order_col == 'progress' %}
        <th>Progress</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=progress&{{ filter_query_params.urlencode }}">Progress</a></th>
    {% endif %}
    {% if order_col == 'updated_time' %}
        <th>Updated</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=-updated_time&{{ filter_query_params.urlencode }}">Updated</a></th>
    {% endif %}
    {% if order_col == 'added_time' %}
        <th>Added</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=-added_time&{{ filter_query_params.urlencode }}">Added</a></th>
    {% endif %}
    {% if state == 'read' %}
        {% if order_col != 'finished_time' %}
            <th>Finished</th>
        {% else %}
            <th><a href="{% url 'article_list' %}{{ state }}?orderby=-finished_time&{{ filter_query_params.urlencode }}">Finished</a></th>
        {% endif %}
    {% else %}
        <th></th>
    {% endif %}

    <th></th>
    <th></th>
    <th></th>
</thead>
  <tbody>
    {% for article in article_list %}
        {% if filter_category is None or article.category.name == filter_category %}
        {% if filter_priority is None or article.get_priority_display == filter_priority %}
        <tr>
          <td><a href="{{ article.url }}">LINK</a></td>
          <td>{{ article.name }}</td>
          <td>{{ article.category|default_if_none:"Uncategorized" }}</td>
          <td>{{ article.notes }}</td>
          <td>{{ article.get_priority_display }}</td>
          <td>{{ article.progress }}</td>
          <td>{{ article.updated_time|default_if_none:''|nice_timesince}}</td>
          <td>{{ article.added_time|nice_timesince }}</td>
          <td>{{ article.finished_time|default_if_none:''|nice_timesince}}</td>
          <td><a href="{% url 'article_edit_form' article.pk %}?next={{ current_url|urlencode }}">EDIT</a></td>
          <td><a href="{% url 'article_delete_form' article.pk %}?next={{ current_url|urlencode }}">DELETE</a></td>
        </tr>
        {% endif %}
        {% endif %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no articles.</p>
{% endif %}
<br>
<a href="{% url 'article_create_form' %}?{{ filter_query_params.urlencode }}&next={{ current_url|urlencode }}" id="create_article_href_bottom">Create Article</a>
{% endblock %}
