{% extends 'base.html' %}

{% load only_days %}

{% block title %}
Article List
{% endblock title %}

{% block breadcrumb %}
    <h4>Article List |
        {% if state|lower != 'read'  %}
            Unread
        {% else %}
            <a href="unread">Unread</a>
        {% endif %}
        |
        {% if state|lower == 'read' %}
            Read
        {% else %}
            <a href="read">Read</a></h4>
        {% endif %}
{% endblock %}

{% block content %}

{% if article_list %}
<a href="{% url 'article_create_form' %}" id="create_article_href_top">Create Article</a>
<table class="table table-striped">
  <thead class="thead-dark">
    <th>Link</th>
    <th>Name</th>
    {% if order_col == 'category' %}
        <th>Category</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=-category">Category</a></th>
    {% endif %}
    <th>Notes</th>
    {% if order_col == 'priority' %}
        <th>Priority</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=priority">Priority</a></th>
    {% endif %}
    {% if order_col == 'progress' %}
        <th>Progress</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=progress">Progress</a></th>
    {% endif %}
    {% if order_col == 'updated_time' %}
        <th>Updated</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=-updated_time">Updated</a></th>
    {% endif %}
    {% if order_col == 'added_time' %}
        <th>Added</th>
    {% else %}
        <th><a href="{% url 'article_list' %}{{ state }}?orderby=-added_time">Added</a></th>
    {% endif %}
    {% if state == 'read' %}
        {% if order_col != 'finished_time' %}
            <th>Finished</th>
        {% else %}
            <th><a href="{% url 'article_list' %}{{ state }}?orderby=-finished_time">Finished</a></th>
        {% endif %}
    {% else %}
        <th></th>
    {% endif %}

    <th></th>
    <th></th>
    <th></th>
</thead>
  <tbody>
    {% for article in article_list %}
      <tr>
          <td><a href="{{ article.url }}">LINK</a></td>
          <td>{{ article.name }}</td>
          <td>{{ article.category }}</td>
          <td>{{ article.notes }}</td>
          <td>{{ article.get_priority_display }}</td>
          <td>{{ article.progress }}</td>
          <td>{{ article.updated_time|default_if_none:''|nice_timesince}}</td>
          <td>{{ article.added_time|nice_timesince }}</td>
          <td>{{ article.finished_time|default_if_none:''|nice_timesince}}</td>
          <td><a href="{% url 'article_edit_form' article.pk %}?state={{ state|urlencode }}">EDIT</a></td>
          <td><a href="{% url 'article_delete_form' article.pk %}?state={{ state|urlencode }}">DELETE</a></td>
     </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no articles.</p>
{% endif %}
<br>
<a href="{% url 'article_create_form' %}" id="create_article_href_bottom">Create Article</a>
{% endblock %}
